@using UpworkProject.Commons.EnumClass;
@model List<UpworkProject.Dtos.DynamicControls.DynamicControlAddUpdateDto>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container ">
    <h3>NOTE: This is Dynamic Input fields system.</h3>
    <br />
    <ul>
        <li>When you added new row in <b>DynamicControls</b> Table then, automatic show controls here<b>(Top Form)</b>.</li>
        <li>If you want to store value for you added new <b>Row(Input Fileds)</b> you need to make columns in <b>ParticipaintInformation</b> model</li>
    </ul>
    <br />
    <br />
    <button class="input-submit"><a href="/AddDynamicInput">Add More Dynamic Input</a></button>
    <br />
    <br />
</div>
<br />
<br />
<br />

<div class="container container-form">
    <h1>Submit Your Informations</h1>
    <form method="post" action="/Home/AddParticipaint">
        @{
        @if(Model.Any())
        {
                foreach (var d in Model.OrderBy(x => x.OrderNumber))
                {
                    var type = (EDynamicControlTypes)(d.ControlType);
                    switch (type)
                    {
                        case EDynamicControlTypes.DateTimePicker:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <input type="datetime" name="@d.ControlIdentity" class="input-datetime" id="@d.ControlIdentity" />
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.DatePicker:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <input type="date" name="@d.ControlIdentity" class="input-date" id="@d.ControlIdentity" />
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.TimePicker:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <input type="time" name="@d.ControlIdentity" class="input-time" id="@d.ControlIdentity" />
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.TextBox:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <input type="text" name="@d.ControlIdentity" class="input-text" id="@d.ControlIdentity" />
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.CheckBox:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        @{
                                            int i = 0;
                                        }
                                        @foreach (var c in d.Options ?? new List<string>())
                                        {
                                            i++;
                                            <div class="flex-column">
                                                <input type="checkbox" value="@c" name="@d.ControlIdentity" class="input-checkbox" id="@(d.ControlIdentity + i)" />
                                                <label for="@(d.ControlIdentity + i)">@c</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.RadioButton:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        @{
                                            int i = 0;
                                        }
                                        @foreach (var c in d.Options ?? new List<string>())
                                        {
                                            i++;
                                            <div class="flex-column">
                                                <input type="radio" value="@c" name="@d.ControlIdentity" class="input-radio" id="@(d.ControlIdentity + i)" />
                                                <label for="@(d.ControlIdentity + i)">@c</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.SelectionBox:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <select name="@d.ControlIdentity" class="input-select" id="@d.ControlIdentity">
                                            <option selected disabled value="">-- Select --</option>
                                            @foreach (var c in d.Options ?? new List<string>())
                                            {
                                                <option value="@c">@c</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                break;
                            }
                        case EDynamicControlTypes.DescritionsBox:
                            {
                                <div class="row">
                                    <div class="input-group">
                                        <label>@d.LabelDate</label>
                                        <textarea type="date" name="@d.ControlIdentity" class="input-textarea" id="@d.ControlIdentity"></textarea>
                                    </div>
                                </div>
                                break;
                            }
                    }
                }
            }
        }
        <div class="row">
            <div class="input-group">
                <input type="submit" name="submit" class="input-submit" id="submit"/>
            </div>
        </div>
    </form>
</div>